.hamburger-menu-button:hover > .hamburger-line {
    background-color: #ed4d39;
}
.w--open > div {
    background-color: #fff;
}
.rsm-logo-mark {
    fill: #1a1818;
    transition: fill 0.2s ease;
}
.footer-dark .rsm-logo-mark,
.header-dark .rsm-logo-mark {
    fill: #fff;
}
.brand:hover .rsm-logo-mark,
.rsm-logo-mark:hover {
    fill: #ed4d29;
}
.header-dark .hamburger-line {
    background-color: #fff;
}
.footer-dark a {
    color: #fff;
}
.next-button:hover > h4 {
    opacity: 0.7;
}
p > a {
    color: #707070;
    transition: color 0.2s ease;
}
p > a:hover {
    color: #ed4d29;
}

.link-hubspot-cta {
    color: #1a1818;
	transition: color .2s;
}
.body-dark .link-hubspot-cta {
    color: white;
}
.link-hubspot-cta:hover {
    color: #ed4d29
}
.studio-locations-item .link-hubspot-cta:hover {
    color: #a2a4a7;
}

.svg-link {
	fill: #1a1818;
	transition: fill .2s;
}
.body-dark .svg-link {
	fill: white;
}
a:hover .svg-link,
.svg-link-container:hover .svg-link {
	fill: #ed4d29;
}
.studio-locations-item a:hover .svg-link,
.studio-locations-item .svg-link-container:hover .svg-link {
    fill: #a2a4a7;
}

footer .svg-link-container {
    margin: 0 0 -0.25em;
}