.hero-video-full-bleed {
	margin-left: calc(-1 * (100vh * (1920/1080) - 100vw) / 2);
}
@media screen and (max-width: 767px) {
    .hero-full-bleed-mobile > .hero-video-full-bleed {
        margin-left: calc(-1 * (133vw * (1920/1080) - 100vw) / 2);
        width: calc(133vw * (1920/1080));
    }
}
@media screen and (max-width: 767px) and (max-height: 133vw) {
    .hero-full-bleed-mobile > .hero-video-full-bleed {
        margin-left: calc(-1 * (100vh * (1920/1080) - 100vw) / 2);
        width: calc(100vh * (1920/1080));
    }
}
@media screen and (max-height: 56.25vw) {
	.hero-video-full-bleed,
    .hero-full-bleed-mobile > .hero-video-full-bleed {
        height: 56.25vw;
        margin-top: calc(-1 * (100vw * (1080/1920) - 100vh) / 2);
        margin-left: 0;
        width: 100vw;
    }
}